
.footer {
  background: #6081a3; 
  color: white;
  margin-top: 50px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}

.footer-col h3,
.footer-col h4 {
  margin-bottom: 10px;
}

.footer-col p {
  font-size: 14px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 6px;
  font-size: 14px;
  cursor: pointer;
}

.footer-col ul li:hover {
  text-decoration: underline;
}


.footer-bottom {
  text-align: center;
  padding: 10px;
  background: #93cddc; 
  font-size: 14px;
}

html, body {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}