.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  background-color: #ffcccc;
}

.search {
  width: 300px;
  padding: 8px;
  border-radius: 5px;
}

.menu {
  list-style: none;
  display: flex;        
  justify-content: center; 
  gap: 30px;            
  margin: 0;
  padding: 0;
}